.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.love-ya-like-a-sister-regular {
  font-family: "Love Ya Like A Sister", cursive;
  font-weight: 400;
  font-style: normal;
  /* font-size: 70px; */
}

.playfair {
  font-family: 'Playfair Display', serif;
}

.eb {
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.georgia {
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.5px;
  line-height: 24px;
  text-transform: none;
  /* color: #ffffff; */
  }
  
  * {
    box-sizing: border-box;
  }
  
.open{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.funnel-sans-light {
  font-family: "Funnel Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

a {
  color: blue; /* Default link color */
  text-decoration: none; /* Optional: Removes underline */
}

a:visited {
  color: blue; /* Same as unclicked links */
}


.background-container {
  background-image: url('./assets/milgirim_background.jpg'); /* Path to your image */
  background-size: auto; /* Keeps the original size of the image */
  background-repeat: repeat; /* Allows the image to tile/repeat */
  background-position: top left; /* Starts the tiling from the top-left corner */
  height: 100vh; /* Sets the height to fill the viewport */
  width: 100%; /* Makes it span the entire width */
}



.surveybutton {
  background-color: white; /* Main button color */
  color: #fff; /* Text color */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease; /* Smooth transition */
}

.surveybutton:hover {
  background-color: #dae3e5; /* More opaque on hover */
}

strong {
  color: #0096c7; /* Replace with your desired color */
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.score-wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.score {
  width: 200px;
  height: 120px;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.score-bar {
  position: absolute;
  width: 100%;
  height: 200%;
  border-radius: 50%;
  top: 0;
}

.score-value {
  margin-bottom: 5px;
  text-align: center;
}

.score-name {
  color: #777;
}

.score-number {
  font-size: 25px;
  font-weight: 600;
}
